.cards {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    gap: 100px;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 5px 2px;
    border-radius: 50px;
    cursor: pointer;
    transform: rotateY(180deg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    transition: transform 1s;

}
.inv {
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
}
.time {
    text-align: center;
}
.invs {
    display: none;
}
body {
    background-color:rgba(255, 215, 0, 0.5);
}
.trns {
    transform: rotateY(0);
}

[data-id="0"] {
    background-image: url(/imgs/s24.jpg);
}
[data-id="1"] {
    background-image: url(/imgs/s27.jpg);
}
[data-id="2"] {
    background-image: url(/imgs/s30.jpg);
}
[data-id="3"] {
    background-image: url(/imgs/s34.jpg);
}
[data-id="4"] {
    background-image: url(/imgs/s57.jpg);
}
[data-id="5"] {
    background-image: url(/imgs/m23.jpg);
}
[data-id="6"] {
    background-image: url(/imgs/m29.jpg);
}
[data-id="7"] {
    background-image: url(/imgs/m31.jpeg);
}
.num {
    display: none;
}